* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  Container */
.app-container {
    width: 90%;
    max-width: 1000px;
}

/* Search tab */
.input-container {
    background-color: #5c81eb;
    background-image: url(./images/pattern-bg-desktop.png);
    color: white;
    height: 12rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
}

form {
    display: flex;
    width: 70%;
    max-width: 25rem;
    margin-bottom: 1.5rem;
}

input {
    cursor: pointer;
    padding: .6rem;
}

.search-input {
    border-radius: .6rem 0 0 .6rem;
    text-align: left;
    width: 90%;
}

.search-input::placeholder {
    color: hsl(0, 0%, 59%);
}

.submit-button {
    border-radius: 0 .6rem .6rem 0;
    background-color: black;
    color: white;
    font-weight: 600;
    width: 10%;
}

/* Display data */
.result-container {
    width: 70%;
    max-width: 43rem;
    top: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    position: absolute;
    background-color: white;
    color: black;
    z-index: 999;
}

.result-container p {
    font-weight: 500;
    font-size: .6rem;
    color: hsl(0, 0%, 59%);
} 

.result-container h2 {
    font-weight: 500;
    font-size: 1.3rem;
    padding-top: .7rem;
}


.result-container > div {
    padding: 1.7rem 2.5rem;
    position: relative;
}

.result-container > div+div::after {
    content: "";
    width: 1px;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 0;
    background-color: rgb(187, 187, 187);
}

/* Map */

.map-container {
    height: 100%;
}

#map {
    height: 300px;
}

/* Mobile */

@media screen and (max-width: 1000px) {
    .app-container {
        height: 100%;
        width: 100%;
    }
    .result-container {
        flex-direction: column;
        position: static;
    }
    #map {
        height: 100%;
    }
    .result-container > div+div::after {
        content: none;
    }
    input {
        padding: 1.3rem;
    }
    .search-input {
        font-size: 1rem;
    }
    form {
        max-width: 43rem;
    }
}