* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

#map {
    height: 300px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container {
    width: 90%;
}

.input-container {
    background-color: #5c81eb;
    background-image: url(./images/pattern-bg-desktop.png);
    color: white;
    height: 12rem;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
}

form {
    display: flex;
}

input {
    cursor: pointer;
}

.search-input {
    width: 20rem;
    padding: .6rem .6rem;
    border-radius: .6rem 0 0 .6rem;
    text-align: left;
}

.search-input::placeholder {
    color: hsl(0, 0%, 59%);
}

.submit-button {
    padding: .6rem;
    border-radius: 0 .6rem .6rem 0;
    background-color: black;
    color: white;
    font-weight: 600;
}

/* DISPLAY DATA */
.result-container {
    height: 8rem;
    width: 80%;
    max-width: 800px;
    top: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    position: absolute;
    background-color: white;
    color: black;
    z-index: 999;
}

.result-container p {
    font-weight: 500;
    font-size: .6rem;
    color: hsl(0, 0%, 59%);
} 

.result-container h2 {
    font-weight: 500;
    font-size: 1.3rem;
    padding-top: .7rem;
}


.result-container > div {
    padding: .2rem 2.5rem .7rem 2.5rem;
    position: relative;
}

.result-container > div+div::after {
    content: "";
    width: 1px;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 0;
    background-color: rgb(187, 187, 187);
}




